<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="/sea-modules/bootstrap/2.2.2/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet">
    <script src="/sea-modules/seajs/src/sea-debug.js" data-main="/js/conf/index-conf"></script>
</head>
<body>
    {{> top}}

    <div class="photoMain">
        {{> photo-flow}}
        <div id="loader">
            <img src="/assets/images/loader.gif" alt="Loader">
        </div>
    </div>

    <div class="modal hide fade" id="register-user"></div>
    <div class="backToTop" style="z-index: 999">返回顶部</div>
</body>
</html>